<h1><%= @place["name"] %></h1>

<h2>My Posts</h2>

<div class="row">
  <% if @current_user  %>
    <% for post in @posts %>
      <div class="col-md-4 col-sm-6"">
        <h3><%= post["title"] %></h3>
        <h4><%= post["posted_on"] %></h4>
        <p><%= post["description"] %></p>
        <% if post.uploaded_image.attached? %>
          <p><img src="<%= url_for(post.uploaded_image) %>" class="img-fluid"></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<% if @current_user %>
  <p>
    <a href="/posts/new?place_id=<%= @place["id"] %>" class="btn btn-secondary">New Post</a>
  </p>
<% end %>

<p>
  <a href="/places" class="btn btn-secondary">Back to All Places</a>
</p>